{% if switchboard_bearer_token | default('') | length > 0 %}
SWITCHBOARD_BEARER_TOKEN={{ switchboard_bearer_token | to_json }}
{% endif %}
SWITCHBOARD_OAUTH_TOKEN_URL={{ switchboard_oauth_token_url | to_json }}
FLEETGLASS_MCP_URL={{ fleetglass_mcp_url | to_json }}
FLEETGLASS_MCP_TOKEN={{ fleetglass_mcp_token | to_json }}
FORGEJO_MCP_URL={{ forgejo_mcp_url | to_json }}
FORGEJO_MCP_TOKEN={{ forgejo_mcp_token | to_json }}
{% if switchboard_enable_log_watcher | default(false) | bool %}
LOG_WATCHER_API_URL={{ log_watcher_api_url | to_json }}
LOG_WATCHER_API_TOKEN={{ log_watcher_api_token | to_json }}
{% endif %}
PARALLAXD_MCP_URL={{ parallaxd_mcp_url | to_json }}
PARALLAXD_MCP_TOKEN={{ parallaxd_mcp_token | to_json }}
RENDERCASE_MCP_URL={{ rendercase_mcp_url | to_json }}
RENDERCASE_MCP_HOST={{ rendercase_mcp_host | to_json }}
RENDERCASE_OAUTH_CLIENT_ID={{ rendercase_oauth_client_id | to_json }}
RENDERCASE_OAUTH_CLIENT_SECRET={{ rendercase_oauth_client_secret | to_json }}
RENDERCASE_OAUTH_RESOURCE={{ rendercase_oauth_resource | to_json }}
RILLDNS_MCP_URL={{ rilldns_mcp_url | to_json }}
RILLDNS_MCP_TOKEN={{ rilldns_mcp_token | to_json }}
TINTWIRE_MCP_URL={{ tintwire_mcp_url | to_json }}
TINTWIRE_OAUTH_CLIENT_ID={{ tintwire_oauth_client_id | to_json }}
TINTWIRE_OAUTH_CLIENT_SECRET={{ tintwire_oauth_client_secret | to_json }}
TINTWIRE_OAUTH_RESOURCE={{ tintwire_oauth_resource | to_json }}
WAYMINDER_MCP_URL={{ wayminder_mcp_url | to_json }}
WAYMINDER_MCP_TOKEN={{ wayminder_mcp_token | to_json }}
TASKBOARD_MCP_URL={{ taskboard_mcp_url | to_json }}
TASKBOARD_MCP_TOKEN={{ taskboard_mcp_token | to_json }}
{% for name, value in (switchboard_client_tokens | default({})).items() %}
{{ name }}={{ value | to_json }}
{% endfor %}
