scrape_configs:
  - job_name: switchboard
    scheme: {{ switchboard_metrics_scheme | default('https') }}
    metrics_path: /metrics
{% if switchboard_metrics_scheme | default('https') == 'https' %}
    tls_config:
      insecure_skip_verify: {{ switchboard_metrics_tls_insecure_skip_verify | default(false) | bool | lower }}
{% endif %}
    static_configs:
      - targets:
          - {{ switchboard_metrics_target | to_json }}
